/*Exercicio 1*/
.Titulo {
    color:yellow;
}

.Exercise1 {
    background: rgb(130, 105, 240);
}

.exercise2 {
    background: rgb(79, 40, 250);
}



.simpletext { 
    color:white;
}
/*Exercicio 1*/


.quadro {
    background-color: rgb(73, 211, 73);
    margin:20px;
    width: 100px;
    height:100px;
    text-align: center;
    line-height: 100px;
    color:white;
}

.num {
    width:50px;
}

.firstbutton { 
    background-color: rgb(128, 231, 128);
    margin:10px;
    width: 80px;
    height:25px;
    border-radius: 5px;
    border-style: none;
}


/*Header menu*/
.headerlist {
    list-style: none;
    display:block;
    padding:5px;
    background: rgb(141, 3, 3);
    list-style: none;
    box-sizing: border-box;
}

.headerlist li {
    display:inline-block;
    padding:10px;
}

.main-header {
    box-sizing: border-box;
    margin:-8px;
    margin-top:-16px;
}


.headerlist li:hover {
    background-color: rgb(207, 24, 24);
    border-radius: 10px;
}

.headerlist a {
    color:white;
    text-decoration:none;
}

/*Header menu*/

/*Exercise 1*/
.ex2main-title {
    box-sizing: border-box;
    text-align:center;
    margin:-10px;
    margin-top:-16px;
    background-color: rgb(8, 18, 151);
    padding:10px;
    color:white;
}


.ex2main-section{
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    margin-bottom:300px;
    background-color: white;
    text-align:center;
    padding:10px;
    align-items: center;
    border-radius: 10px;
    width:350px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.459);
}


.imagem {
    width:250px;
    height:250px;
    padding:30px;
    border-radius: 200px;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
}


.ex2main-footer {
    box-sizing: border-box;
    text-align:center;
    background-color: rgb(8, 18, 151);
    padding:20px;
    margin:-10px;
    margin-top:10px;
    color:white;
}

/*Exercise 1*/



/*Exercise idade*/

.bodyidade {
    background-color: rgb(86, 155, 245);
}

.maintitle {
    text-align:center;
    padding:20px;
    color:white;
    font-weight:bolder
}


.maindiv {
    width:400px;
    height:420px;
    text-align:left;
    margin:auto;
    background-color: rgb(181, 225, 250);
    box-shadow:10px 10px 10px rgba(2, 2, 243, 0.411);
    padding:20px;
    margin-top:50px;
    border-radius: 20px;
}

.smalltext {
    margin:10px;
}

.seconddiv {
    text-align:center;
}

#imagemage {
    margin:auto;
    width:250px;
    height:250px;
    border-radius: 300px;
    background-color: rgba(0, 0, 255, 0.808);
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
}

/*Exercise idade*/


/*Vamos contar*/

.contartitle {
    color:white;
    text-align: center;
    padding:20px;
}

.countdiv {
    margin:auto;
    background-color: white;
    width: 500px;
    height:400px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.countlabel {
    margin:10px;
    font-weight: bold;
}

/*Vamos contar*/


/*Tabuada*/


.titletabuada {
    text-align: center;
    color:white;
    margin:50px;
}

.tabuadadiv {
    font-weight: bold;
    font-size:large;
    background-color: white;
    width:450px;
    height:300px;
    padding:30px;
    margin:auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#resulttabuada {
    width:100px;
    height:200px;
}

/*Tabuada*/


/*Number analyser*/

.maintitlenumberanalyser{
    color:white;
    text-align: center;
    padding:20px;
}

.numbermaindiv{
    margin:auto;
    padding:15px;
    width:500px;
    height:300px;
    background-color: white;;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.selectanalyser{
    width:100px;
    height:200px;
    margin-top:10px;
    margin-bottom:10px;
}


/*Number analyser*/

.converteranota {
    margin:10px;
    padding:5px;
}

.notaaluno {
    margin:10px;
    padding:5px;
}


/*Gastos familiares*/

.maindivgastos{
    background-color: white;
    margin:auto;
    margin-top:50px;
    width:500px;
    height:300px;
    border-radius:10px;
    padding:5px;
}

.gastosmaintitle {
    text-align:center;
    font-weight: bold;
}

.elemntosreceitas  {
    margin-left:5px;
    margin-bottom:5px;
}

.divreceitas2 {
    margin-top:10px;
    margin-left:10px;
}

.divgastos2 {
    margin-top:10px;
    margin-left:10px;
}

.maindivgastosfinal{
    background-color: white;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    width:500px;
    height:180px;
    border-radius:10px;
    padding:5px;
}

/*Gastos familiares*/

/*Temperature converter*/


.tempconvmain-div{
    background-color: white;
    width:400px;
    margin:auto;
    padding:30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.tempconvmain-title{
    color:white;
    text-align: center;
    padding:20px;
}

.insideelements {
    margin-top:20px;
}
