.hundreaddiv .hundreadnumber {
    margin:5px;
}

.fileextensionname {
    margin:5px;
}

.nextalpha {
    margin:5px;
}

.newString {
    margin:5px;
}

.characString {
    margin:5px;
}


.characLetter2 {
    margin:5px;
}

.characString2{
    margin:5px;
}


.ascendArrray {
    margin:5px;
}
 
.replaceString  {
    margin:5px;
}

.objectClass {
    margin:5px;
}

.everyCheck {
    margin:5px;
}


.green{
    background-color: chartreuse;
}

.red{
    background-color: rgb(255, 8, 0);
}


.changecolor {
    margin:10px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height:550%; 
    border: 1px solid black;
}